n8n/automated-backup.workflow.json
{
  "name": "Automated Backup",
  "nodes": [
    { "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "0 5 * * *" } ] } }, "id": "schedule", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 200] },
    { "parameters": { "resource": "command", "command": "set -e\nNOW=\"$(date -u +%Y-%m-%dT%H:%M:%SZ)\"\necho \"BACKUP_START\"\necho \"checked_at=$NOW\"\ncd /root/.openclaw/workspace\ngit status --short || true\n", "clearOutput": false }, "id": "ssh", "name": "SSH Backup Check", "type": "n8n-nodes-base.ssh", "typeVersion": 1, "position": [500, 200], "credentials": { "sshPassword": { "id": "REPLACE_ME", "name": "OpenClaw Host SSH" } } },
    { "parameters": { "jsCode": "const raw = $json.stdout || $json.data || $json.response || '';\nconst now = new Date().toISOString();\nconst dirty = /^(?: M|A |D |R |C |U|\\?\\?)/m.test(raw);\nconst blocks = [ { type: 'header', text: { type: 'plain_text', text: '💾 Automated Backup' } }, { type: 'context', elements: [ { type: 'mrkdwn', text: `*Checked:* ${now}` }, { type: 'mrkdwn', text: `*Repo:* ${dirty ? 'Changed' : 'Clean'}` } ] }, { type: 'divider' }, { type: 'section', text: { type: 'mrkdwn', text: dirty ? 'Working tree has changes to capture.' : 'Nothing new to back up right now.' } } ];\nreturn [{ json: { checkedAt: now, slackText: `💾 Automated backup: ${dirty ? 'changes present' : 'clean'}`, slackBlocks: blocks } }];" }, "id": "parse", "name": "Parse + Build Card", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [760, 200] },
    { "parameters": { "resource": "message", "operation": "post", "channel": "C0AQARFMWMV", "text": "={{ $json.slackText }}", "otherOptions": { "blocksUi": { "blockValues": [ { "blocks": "={{ JSON.stringify($json.slackBlocks) }}" } ] } } }, "id": "slack", "name": "Send Slack Block Kit", "type": "n8n-nodes-base.slack", "typeVersion": 2.3, "position": [1020, 200], "credentials": { "slackApi": { "id": "REPLACE_ME", "name": "Slack account" } } }
  ],
  "pinData": {},
  "connections": { "Schedule Trigger": { "main": [[{ "node": "SSH Backup Check", "type": "main", "index": 0 }]] }, "SSH Backup Check": { "main": [[{ "node": "Parse + Build Card", "type": "main", "index": 0 }]] }, "Parse + Build Card": { "main": [[{ "node": "Send Slack Block Kit", "type": "main", "index": 0 }]] } },
  "active": false, "settings": { "executionOrder": "v1" }, "versionId": "1", "meta": { "templateCredsSetupCompleted": false }, "id": "automated-backup", "tags": ["backup", "maintenance"]
}
