n8n/healthcheck-security-audit.workflow.json
{
  "name": "Healthcheck Security Audit",
  "nodes": [
    { "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "0 19 * * *" } ] } }, "id": "schedule", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 200] },
    { "parameters": { "resource": "command", "command": "set -e\nNOW=\"$(date -u +%Y-%m-%dT%H:%M:%SZ)\"\necho \"SECURITY_AUDIT_START\"\necho \"checked_at=$NOW\"\necho \"--- UPDATES ---\"\nsystemctl is-active unattended-upgrades 2>/dev/null || true\nif [ -f /var/run/reboot-required ]; then echo reboot_required=yes; else echo reboot_required=no; fi\napt list --upgradable 2>/dev/null | tail -n +2 | head -n 25 || true\n", "clearOutput": false }, "id": "ssh", "name": "SSH Security Audit", "type": "n8n-nodes-base.ssh", "typeVersion": 1, "position": [500, 200], "credentials": { "sshPassword": { "id": "REPLACE_ME", "name": "OpenClaw Host SSH" } } },
    { "parameters": { "jsCode": "const raw = $json.stdout || $json.data || $json.response || '';\nconst now = new Date().toISOString();\nconst reboot = /reboot_required=yes/.test(raw);\nconst unattended = /active/.test(raw);\nconst upgradable = (raw.match(/^\\w.+\\/.+$/gm) || []).length;\nconst healthy = unattended && !reboot && upgradable === 0;\nconst status = healthy ? 'Healthy' : 'Needs Attention';\nconst emoji = healthy ? '✅' : '🚨';\nconst blocks = [ { type: 'header', text: { type: 'plain_text', text: `${emoji} Healthcheck Security Audit` } }, { type: 'context', elements: [ { type: 'mrkdwn', text: `*Checked:* ${now}` }, { type: 'mrkdwn', text: `*Status:* ${status}` } ] }, { type: 'divider' }, { type: 'section', fields: [ { type: 'mrkdwn', text: `*Unattended Upgrades*\\n${unattended ? 'Active' : 'Inactive'}` }, { type: 'mrkdwn', text: `*Reboot Required*\\n${reboot ? 'Yes' : 'No'}` }, { type: 'mrkdwn', text: `*Upgradeable*\\n${upgradable}` } ] } ];\nreturn [{ json: { checkedAt: now, healthy, slackText: `${emoji} Healthcheck security audit: ${status}`, slackBlocks: blocks } }];" }, "id": "parse", "name": "Parse + Build Card", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [760, 200] },
    { "parameters": { "resource": "message", "operation": "post", "channel": "C0AQARFMWMV", "text": "={{ $json.slackText }}", "otherOptions": { "blocksUi": { "blockValues": [ { "blocks": "={{ JSON.stringify($json.slackBlocks) }}" } ] } } }, "id": "slack", "name": "Send Slack Block Kit", "type": "n8n-nodes-base.slack", "typeVersion": 2.3, "position": [1020, 200], "credentials": { "slackApi": { "id": "REPLACE_ME", "name": "Slack account" } } }
  ],
  "pinData": {},
  "connections": { "Schedule Trigger": { "main": [[{ "node": "SSH Security Audit", "type": "main", "index": 0 }]] }, "SSH Security Audit": { "main": [[{ "node": "Parse + Build Card", "type": "main", "index": 0 }]] }, "Parse + Build Card": { "main": [[{ "node": "Send Slack Block Kit", "type": "main", "index": 0 }]] } },
  "active": false, "settings": { "executionOrder": "v1" }, "versionId": "1", "meta": { "templateCredsSetupCompleted": false }, "id": "healthcheck-security-audit", "tags": ["healthcheck", "security"]
}
