n8n/memory-maintenance.workflow.json
{
  "name": "Memory Maintenance",
  "nodes": [
    { "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "30 4 * * 0" } ] } }, "id": "schedule", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 200] },
    { "parameters": { "resource": "command", "command": "set -e\nNOW=\"$(date -u +%Y-%m-%dT%H:%M:%SZ)\"\necho \"MEMORY_MAINTENANCE_START\"\necho \"checked_at=$NOW\"\nls -1 /root/.openclaw/workspace/memory/*.md 2>/dev/null | tail -n 14 || true\n", "clearOutput": false }, "id": "ssh", "name": "SSH Memory Sweep", "type": "n8n-nodes-base.ssh", "typeVersion": 1, "position": [500, 200], "credentials": { "sshPassword": { "id": "REPLACE_ME", "name": "OpenClaw Host SSH" } } },
    { "parameters": { "jsCode": "const raw = $json.stdout || $json.data || $json.response || '';\nconst now = new Date().toISOString();\nconst files = raw.split('\\n').map(s => s.trim()).filter(s => s.endsWith('.md'));\nconst healthy = files.length > 0;\nconst blocks = [ { type: 'header', text: { type: 'plain_text', text: '🪄 Memory Maintenance' } }, { type: 'context', elements: [ { type: 'mrkdwn', text: `*Checked:* ${now}` }, { type: 'mrkdwn', text: `*Recent Files:* ${files.length}` } ] }, { type: 'divider' }, { type: 'section', text: { type: 'mrkdwn', text: files.length ? `*Recent memory files*\\n• ${files.slice(0, 12).join('\\n• ')}` : 'No memory files found.' } } ];\nreturn [{ json: { checkedAt: now, healthy, slackText: `🪄 Memory maintenance: ${files.length} file(s)`, slackBlocks: blocks } }];" }, "id": "parse", "name": "Parse + Build Card", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [760, 200] },
    { "parameters": { "resource": "message", "operation": "post", "channel": "C0AQARFMWMV", "text": "={{ $json.slackText }}", "otherOptions": { "blocksUi": { "blockValues": [ { "blocks": "={{ JSON.stringify($json.slackBlocks) }}" } ] } } }, "id": "slack", "name": "Send Slack Block Kit", "type": "n8n-nodes-base.slack", "typeVersion": 2.3, "position": [1020, 200], "credentials": { "slackApi": { "id": "REPLACE_ME", "name": "Slack account" } } }
  ],
  "pinData": {},
  "connections": { "Schedule Trigger": { "main": [[{ "node": "SSH Memory Sweep", "type": "main", "index": 0 }]] }, "SSH Memory Sweep": { "main": [[{ "node": "Parse + Build Card", "type": "main", "index": 0 }]] }, "Parse + Build Card": { "main": [[{ "node": "Send Slack Block Kit", "type": "main", "index": 0 }]] } },
  "active": false, "settings": { "executionOrder": "v1" }, "versionId": "1", "meta": { "templateCredsSetupCompleted": false }, "id": "memory-maintenance", "tags": ["memory", "maintenance"]
}
