n8n/openclaw-cron-failures.workflow.json
{
  "name": "OpenClaw Cron Failures",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 320]
    },
    {
      "parameters": {
        "resource": "command",
        "command": "set -e\n\nNOW=\"$(date -u +%Y-%m-%dT%H:%M:%SZ)\"\n\necho \"CRON_SCAN_START\"\necho \"checked_at=$NOW\"\n\n# Generic scan points; adjust to wherever you log cron output.\nfor f in /root/.openclaw/workspace/logs/*.log /var/log/syslog /var/log/cron*; do\n  [ -e \"$f\" ] || continue\n  echo \"FILE_START $f\"\n  tail -n 200 \"$f\" 2>/dev/null || true\ndone\n",
        "clearOutput": false
      },
      "id": "ssh-check",
      "name": "SSH Scan Logs",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [520, 320],
      "credentials": {
        "sshPassword": {
          "id": "REPLACE_ME",
          "name": "OpenClaw Host SSH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || $json.data || $json.response || '';\nconst now = new Date().toISOString();\nconst lines = String(raw).split('\\n').map(s => s.trim()).filter(Boolean);\nconst failureLines = lines.filter(l => /error|failed|failure|exit code|traceback|panic|exception|denied|ENOENT|EACCES/i.test(l)).slice(0, 20);\nconst files = lines.filter(l => l.startsWith('FILE_START ')).map(l => l.slice('FILE_START '.length));\nconst healthy = failureLines.length === 0;\nconst status = healthy ? 'No Failures Found' : 'Failures Detected';\nconst emoji = healthy ? '✅' : '🚨';\nconst first = failureLines[0] || 'No matching failures.';\nconst blocks = [ { type: 'header', text: { type: 'plain_text', text: `${emoji} OpenClaw Cron Failures` } }, { type: 'context', elements: [ { type: 'mrkdwn', text: `*Checked:* ${now}` }, { type: 'mrkdwn', text: `*Status:* ${status}` } ] }, { type: 'divider' }, { type: 'section', text: { type: 'mrkdwn', text: healthy ? 'No cron failures matched the scan.' : `*First Failure*\\n\\`\\`\\`\\n${first}\\n\\`\\`\\`` } } ]; if (!healthy) blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*Other Failures*\\n${failureLines.slice(1, 10).map(x => `• ${x}`).join('\\n')}` } }); if (files.length) blocks.push({ type: 'context', elements: [ { type: 'mrkdwn', text: `*Scanned:* ${files.join(', ')}` } ] }); return [{ json: { checkedAt: now, status, healthy, failureLines, slackText: `${emoji} OpenClaw cron failures: ${status}`, slackBlocks: blocks } }];"
      },
      "id": "parse",
      "name": "Parse + Build Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 320]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "C0AQNSPH6FP",
        "text": "={{ $json.slackText }}",
        "otherOptions": {
          "blocksUi": {
            "blockValues": [ { "blocks": "={{ JSON.stringify($json.slackBlocks) }}" } ]
          }
        }
      },
      "id": "slack",
      "name": "Send Slack Block Kit",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1080, 320],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_ME",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "SSH Scan Logs", "type": "main", "index": 0 }]] },
    "SSH Scan Logs": { "main": [[{ "node": "Parse + Build Card", "type": "main", "index": 0 }]] },
    "Parse + Build Card": { "main": [[{ "node": "Send Slack Block Kit", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "1",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "openclaw-cron-failures",
  "tags": ["openclaw", "cron", "failures"]
}
