n8n/security-repo-size-daily.workflow.json
{
  "name": "Security Repo Size Daily",
  "nodes": [
    { "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "0 3 * * *" } ] } }, "id": "schedule", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [240, 200] },
    { "parameters": { "resource": "command", "command": "set -e\nNOW=\"$(date -u +%Y-%m-%dT%H:%M:%SZ)\"\necho \"REPO_SIZE_START\"\necho \"checked_at=$NOW\"\ncd /root/.openclaw/workspace\ndu -sh . 2>/dev/null || true\nfind . -type f 2>/dev/null | wc -l || true\n", "clearOutput": false }, "id": "ssh", "name": "SSH Repo Size", "type": "n8n-nodes-base.ssh", "typeVersion": 1, "position": [500, 200], "credentials": { "sshPassword": { "id": "REPLACE_ME", "name": "OpenClaw Host SSH" } } },
    { "parameters": { "jsCode": "const raw = $json.stdout || $json.data || $json.response || '';\nconst now = new Date().toISOString();\nconst sizeMatch = raw.match(/^(\\S+)\\s+\\.$/m) || raw.match(/^(\\S+)\\s+\\/root\\.openclaw\\/workspace$/m) || raw.match(/^(\\S+)\\s+\\.\\//m);\nconst size = sizeMatch ? sizeMatch[1] : 'unknown';\nconst countMatch = raw.match(/^(\\d+)$/m);\nconst files = countMatch ? countMatch[1] : 'unknown';\nconst blocks = [ { type: 'header', text: { type: 'plain_text', text: '🧮 Security Repo Size Daily' } }, { type: 'context', elements: [ { type: 'mrkdwn', text: `*Checked:* ${now}` }, { type: 'mrkdwn', text: `*Size:* ${size}` } ] }, { type: 'divider' }, { type: 'section', text: { type: 'mrkdwn', text: `*File count*\\n${files}` } } ];\nreturn [{ json: { checkedAt: now, slackText: `🧮 Security repo size daily: ${size}`, slackBlocks: blocks } }];" }, "id": "parse", "name": "Parse + Build Card", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [760, 200] },
    { "parameters": { "resource": "message", "operation": "post", "channel": "C0AQARFMWMV", "text": "={{ $json.slackText }}", "otherOptions": { "blocksUi": { "blockValues": [ { "blocks": "={{ JSON.stringify($json.slackBlocks) }}" } ] } } }, "id": "slack", "name": "Send Slack Block Kit", "type": "n8n-nodes-base.slack", "typeVersion": 2.3, "position": [1020, 200], "credentials": { "slackApi": { "id": "REPLACE_ME", "name": "Slack account" } } }
  ],
  "pinData": {},
  "connections": { "Schedule Trigger": { "main": [[{ "node": "SSH Repo Size", "type": "main", "index": 0 }]] }, "SSH Repo Size": { "main": [[{ "node": "Parse + Build Card", "type": "main", "index": 0 }]] }, "Parse + Build Card": { "main": [[{ "node": "Send Slack Block Kit", "type": "main", "index": 0 }]] } },
  "active": false, "settings": { "executionOrder": "v1" }, "versionId": "1", "meta": { "templateCredsSetupCompleted": false }, "id": "security-repo-size-daily", "tags": ["security", "repo-size"]
}
